/* colors */

:root {
    --darkgrey: #31303a;
    --white: #ffffff;
    --grey: #999999;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* main elements */

a {
    text-decoration: none;
}

body {
    background-color: var(--white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    color: var(--darkgrey);
    max-width: 1600px;
    margin: 0 auto !important;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    color: var(--white);
    background-color: var(--darkgrey);
}

header h1 {
    margin-right: 0px;
    font-size: 42px;
    text-align: center;
    padding-bottom: 20px;
}

nav {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
}

h2 {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    color: var(--white);
    background-color: var(--darkgrey);
    text-align: center;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    text-align: left;
    color: var(--white);
    background-color: var(--darkgrey);
}

footer h3 {
    color: var(--white);
}

footer p {
    color: var(--white);
}

section {
    padding: 20px;
}

div a {
    color: var(--darkgrey);
}

/* classes */

.hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 350px;
}

.hero-text {
    background-color: var(--darkgrey);
    padding: 20px;
    width: 500px;
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.hero-text h3 {
    font-size: 24px;
    margin: 0;
}

.hero-text p {
    margin: 5px 0 15px 0;
}

.nav-box {
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: var(--white);
}

.nav-link:hover a {
    color: var(--grey);
}

.container {
    display: flex;
    align-items: stretch;
}

.container div {
    border: 20px solid var(--darkgrey);
}

.item:hover {
    animation: bounce 1s;
}

.item-contact a {
    text-decoration: none;
    color: var(--white);
}

.item-contact:hover a {
    color: var(--grey);
}

.item {
    padding: 20px;
    flex: 1;
    color: var(--darkgrey);
    text-align: center;
    flex-wrap: wrap;
}

.item-main img {
    width: 50%;
    height: 50%;
}

.item img {
    max-width: 70%;
    height: auto;
}

.item-contact {
    display: flex;
    text-align: left;
    flex-direction: column;
}

/* animation for hover */

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

/* media queues*/

@media only screen and (max-width: 940px) {
    /* resizing flexbox on smaller displays */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* changes about me hero text box size */
    .hero-text {
        background-color: var(--darkgrey);
        padding: 20px;
        width: 250px;
        color: var(--white);
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
}